@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 50px
  }
  h2 {
    font-size: 22px;
  }
  ul {
    list-style-type: disc;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}
}
